@charset "utf-8";
/* CSS Document */

.centerText {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: x-large;
	text-shadow: 0px 0in;
	border: thick solid #740001;
}
