	
	
	/*Trying to make it so this website works on mobile devices*/
@media only screen and (max-width: 480px)
{

	body
	{
		padding-bottom: 40px;
	}

	.headerClass
	{
		font-size: 200%;
		height: 80px;
	}

	.column, .column2, .column3
	{

		width: 100%;
		margin: 10px 0;
		
	}

}

	/*Attempt at making a hamburger button for homepage */
	
	/*end of hamburger button code */
	
	
	/*Fadeout transition to new page*/
	.fade-out
	{
		animation: fadeout 1s forwards;
	}
	
	@keyframes fadeout
	{
		100%
		{
			opacity: 0;
			visibility: hidden;
		}
	}
	
	
	
	
	.nav-list-item 
	{

	  display: inline-block;
	  background-color:transparent;
	  font-family: 'Crimson Text', serif;
	  transition: background-color 0.3s, transform 0.3s;
  
	}



	.nav-list-item a, .dropbtn 
	{

	  display: inline-block;
	  color: white;
	  text-align: center;
	  padding: 14px 16px;
	  text-decoration: none;
	  
	  /*This causes the background of the list items to be black to green when not hovering over it */
	  background-image: linear-gradient(to left, green, black, green, black, green);
      background-size: 400% 100%;
      background-position: 100% 0;
      transition: background-position 0.5s;
	  border: 5px solid black; /* Adds a thick black border */
	  border-radius: 8px; /* adds curved corners */
  
	}
	
	
	/*This adds the animation effects to the drop down buttons in the porfollio section too*/
	li a:hover, .dropdown:hover .dropbtn 
	{
		animation: colorLoop 4s linear infinite alternate;  /*animation that causes the collor change while hovering over it*/
		background-position: 0% 0;
		background-color: #4b9e46; /*back up color if gradient stops working*/
		transform:scale(1.2);
  
	}
	
	
	@keyframes colorLoop 
	{
		0% 
		{
			background-position: 100% 0;
		}
		
		100% 
		{
			background-position: -100% 0;
		}
		
		animation-timing-function: ease-in-out;
		
	}
	


	li.dropdown 
	{

 		display: inline-block;
  		color: white;
  		padding: 14px 16px;
  	}


	.dropdown-content 
	{

	  display: none;
	  position: absolute;  /* positioned relative to the nearest positioned ancestor (instead of positioned relative to the viewport, like fixed).*/
	  background-color: #f9f9f9;  /*Here is some rgb*/
	  min-width: 160px;
  
	}

	.dropdown-content a 
	{

	  padding: 14px 16px;
	  text-decoration: none;
	  background-color: green;
	  display: inline-block;
	  text-align: left;

	}


	/*--pseudo-class selector for the hyperlinks in the navigation bar */
	.dropdown-content a:hover 
	{  

		background-color: #6dde76;

	}

	.dropdown:hover .dropdown-content 
	{
		display: block;
	}
	
	
	.navbar-ul 
	{

		display: inline-block;
		list-style-type: none;				
		margin: 0;
		padding: 0;
		font-size: 300%
  
	}	
	
	.center-content
	{
		display: flex;
		flex-direction: column;
		align-items: center;	
	}
	
	

	body
	{
		background-color: #1f7041;
		padding-bottom: 80px; 	
	}
		
	.centerImagePerson
	{
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 20%;		
		transition: transform .2s;
    	width:100px;
   		height:100px;
    	margin:0 auto;
    	background-color: rgb(173, 173, 237);
    	border-radius: 25px;
    	border: 2px solid #8C5300;
	}
	
	.centerImagePerson:hover
	{
		
    transform:scale(2.5);
		
	}
	
	.headerClass 
	{
		background-size: cover;
		background-repeat: no-repeat;
		height: 100px;
		width: 100%;
		letter-spacing: 8px;
		font-size: 300%;
		line-height: 25px;
		font-family: 'Lobster', cursive;
		background-color: #000000;
		border: solid thick;
		border-color: green;
		text-align: center;
		padding: 20px;
		color: aliceblue;
		background-image: linear-gradient(45deg, rgba(0, 128, 0, 0.5), rgba(0, 0, 128, 0.5));
	    background-color: black;
	    animation-name: headerColorChange;
	    animation-duration: 25s;
		animation-iteration-count: infinite;
		
		/*This centers the text in the header*/
		display: flex;
		justify-content: center;
		align-items: center;
		
	}

				
	@keyframes textclip 
	{
  		to 
		{
			background-position: 200% center;
  		}
	}	
	
	@keyframes headerColorChange 
	{
  		 0%   {background-color: black;}
		 25%  {background-color: green;}
		 50%  {background-color: black;}
		 75%  {background-color: green;}
		 100% {background-color: black;}
		 animation-iteration-count: infinite;
	}

.textToRight
{
	
	text-align: right;
	
}
	
.contentToCenter
{
	
	text-align: center
}
	
.textToLeft
{

	text-align: left;
		
}



/*Styling for the introduction box section*/

	.intro-box
	{
		background-color: #6dde76;
		border: 1px solid #ccc; 
		padding: 20px;
		margin: 20px;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15); /*This creates a small shadow effect to bake the intro box pop for me */
		max-width: 600px; /*Sets the max with of the box*/
		border-radius: 10px; /*This border radius allows the corners of the box to be curved*/
		margin: 20px auto;   /*This centers the the box to the middle of the page, the auto keyword tells the code to make the horizontal space even, which in turn centers the box*/
		text-align: center;		
	}

/*End of Styling for intro box */


/*Graduation text box */

.graduation-box
	{
		background-color: #6dde76;
		border: 1px solid #ccc; 
		padding: 10px;
		margin: 10px;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15); /*This creates a small shadow effect to bake the intro box pop for me */
		max-width: 600px; /*Sets the max with of the box*/
		border-radius: 10px; /*This border radius allows the corners of the box to be curved*/
		margin: 20px auto;   /*This centers the the box to the middle of the page, the auto keyword tells the code to make the horizontal space even, which in turn centers the box*/
		text-align: center;		
	}

/*End of graduation text box styling*/








/*Styling classes for the social media links*/


.social-links /*This centers the social links, and is also the container to hold all the links */
{
	display: flex;
	justify-content: center;  /*aligns the buttons horizontally in the center of this container*/
	gap: 20px;      /* this adds space between each button*/
}

.social-button  /* This class is for the styling each button*/
{
	background-color: transparent;
	color: white; /*white text*/
	text-decoration: none; /*gets rid of underline*/
	padding: 10px 10px; /*adds padding vertically, and horizontally*/
	border-radius: 25px; /*again rounding the corners*/ 
}

.social-button:hover
{
	background-color: #5ac266;  /*brings up a background color so you can clearly see which button you are hovering on */
}

.social-button img
{
	border-radius: 20px;  /*This rounds the corners of the button*/
}

/*End of styling classes for the social media links*/









/*Countdown-timer box*/

	.countdown-timer-style
	{
		border-radius: 20px;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15); 
		text-align: center;
 	    font-size: 60px;
  		margin-top: 0px;
  		background-color:black;
  		color:chocolate;
	}

/*End of Countdown-timerbox */	

	.footer 
	{
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		background-color: grey;
		color: white;
		text-align: center;

		/*copied from the header class to match it*/
		
		background-size: cover;
		background-repeat: no-repeat;
		height: 10px;
		width: 100%;
		letter-spacing: 8px;
		font-size: 150%;
		line-height: 25px;
		font-family: 'Lobster', cursive;
		background-color: #000000;
		border: solid thick;
		border-color: green;
		text-align: center;
		padding: 20px;
		color: aliceblue;
		background-image: linear-gradient(45deg, rgba(0, 128, 0, 0.5), rgba(0, 0, 128, 0.5));
	    background-color: black;
	    animation-name: headerColorChange;
	    animation-duration: 25s;
		animation-iteration-count: infinite;
		
		/*This centers the text in the header*/
		display: flex;
		justify-content: center;
		align-items: center;

	}


	/*This code adds the gradient underline effect when hovering over the list items in the nav bar*/

	ul li a 
	{
  		display: inline-block;
  		color: #e6e6e6;
  		text-decoration: none;
  		position: relative;
  		padding: 10px;
  		transition: color 0.5s;
	}

	ul li a::after 
	{
  		content: "";
  		position: absolute;
  		width: 0%;
  		height: 5px;
  		bottom: 0;
  		left: 0;
  		background: linear-gradient(to right, red, orange);
  		transition: width 0.3s;
	}

	ul li a:hover 
	{
  		color: #0091ea;
	}

	ul li a:hover::after 
	{
  		width: 100%;
	}



	/*Code for the drop down menu on portfollio */

	li a:hover, .dropdown:hover .dropbtn {

		background-color: red;
		
	  }
	  
	  
	  li.dropdown {
	  
		display: inline-block;
		color: white;
		padding: 14px 16px;
		
	  }
	  
	  
	  .dropdown-content {
	  
		display: none;
		position: absolute;  /* positioned relative to the nearest positioned ancestor (instead of positioned relative to the viewport, like fixed).*/
		background-color: #f9f9f9;
		min-width: 160px;
		
	  }
	  
	  .dropdown-content a {
	  
		padding: 14px 16px;
		text-decoration: none;
		background-color: green;
		display: block;
		text-align: left;
		
	  }
	  
	  .dropdown-content a:hover 
	  {  /*pseudo-class selector for the hyperlinks in the navigation bar*/
	  
		  background-color: #6dde76;
	  
	  }
	  
	  .dropdown:hover .dropdown-content {
	  
		display: block;
		
	  }




	  li a, .dropbtn 
	{

	  display: inline-block;
	  color: white;
	  text-align: center;
	  padding: 14px 16px;
	  text-decoration: none;
	  
	  background-image: linear-gradient(to left, green, black, green, black, green);
      background-size: 400% 100%;
      background-position: 100% 0;
      transition: background-position 0.5s;
	  border: 5px solid black; /* Adds a thick black border */
	  border-radius: 8px; /* adds curved corners */
  
	}
